<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title> Preguntas </title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'/>
  </head>
  <body>
  	Edite la Pregunta: <p>

	<form method="post" action="/quizes/<%= quiz.id %>?_method=put">
		<% include _form.ejs %>
	</form>
  </body>
</html>