<table>
	<tr>
		<td>
			<form method="get" action="/quizes" border="1">
				Buscar Pregunta:
 				<input type="text" name="search" value="Buscar..."/>
 				<input type="submit" value="Buscar"/>
			</form>
		</td>
	</tr>
	<tr><td height="30"></td></tr>
	<% var i; for (i=0; i < quizes.length; i++){ %>
		<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
	<% } %>
</table>